html{
  width:100%;
  height:100%;

}
h1{
  text-align:center;
  font-family: 'Monoton', cursive;
  background: -webkit-linear-gradient(#DD99BB, #E2FCEF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2{
  font-family: 'IBM Plex Mono', monospace;
    color: #75BBA7;
}
body{
  text-align:center;
  background: -webkit-linear-gradient(#5C164E, #050609);
}
h3{
  padding-top: none;
}
p{
  padding-top: none;
}

.rock-button{
  font-family: 'Monoton', cursive;
  cursor:pointer;
}
.rock-button hover{
  
}

.paper-button{
  font-family: 'Monoton', cursive;
  cursor: pointer;
}


.scissors-button{
  font-family: 'Monoton', cursive;
  cursor: pointer;
}

.row{
  display:flex;
  justify-content: space-evenly;
}
.column{
  padding: 5px;
}
.results{
  font-family: 'IBM Plex Mono', monospace;
  color: #75BBA7;
}


/* header font link: https://fonts.google.com/specimen/Monoton */
/* body font link: https://fonts.google.com/specimen/IBM+Plex+Mono */
